.englishComponent {
  margin-top: 110px;
}
.searchAutofill {
  margin: 0 0 30px;
  input {
    @include bodyFont(
      $color: $puke,
      $weight: 900,
      $size: 6rem,
      $spacing: 0.5px
    );
    width: 100%;
    background: none;
    border: none;
    border-bottom: transparent 1px solid;
    padding-bottom: 4px;
    transition: border-bottom 0.5s;
    &:focus {
      border-bottom: $puke 1px solid;
    }
    @media (max-width: 1200px) {
      font-size: calc(3.2rem + (60 - 32) * (100vw - 320px) / (1280 - 320));
    }
  }
  p {
    @include bodyFont(
      $color: $mermaid,
      $spacing: 5px,
      $transform: uppercase,
      $size: 1.5rem
    );
    margin-bottom: 10px;
    @include for-tablet {
      margin-bottom: 15px;
      width: 80%;
    }
    &.noResults {
      transform-origin: 25% center;
      margin-top: 30px;
      color: #fff;
    }
  }
}
.posterGallery {
  display: flex;
  columns: 10 200px;
  flex-wrap: wrap;
  .posterContainer {
    width: 20%;
    padding: 0 30px;
    @include for-laptops {
      width: 25%;
    }
    @include for-small-laptops {
      width: 50%;
    }
    @include for-tablet {
      width: 50%;
    }
    @include for-mobile {
      width: 100%;
    }
    &.foreign {
      animation-delay: 0.5s;
    }
    img {
      cursor: pointer;
      transform: scale(1);
      transition: all 0.4s;
      &:hover {
        transform: scale(1.07);
      }
    }
  }
  .posterContainer:nth-child(2n) {
    @include for-laptops {
      padding-top: 40px;
    }
  }
  .poster1,
  .poster3,
  .poster6,
  .poster8,
  .poster11,
  .poster13,
  .poster16,
  .poster18,
  .poster21,
  .poster23 {
    padding-top: 40px;
    @include for-laptops {
      padding-top: 0px;
    }
  }
  .posterContainer {
    @include for-mobile {
      padding-top: 40px;
    }
  }
}
.noPoster {
  cursor: pointer;
  border: 1px solid $mermaid;
  height: 24vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: all 0.4s;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 2%;
  &:hover {
    transform: scale(1.07);
  }
  @include for-laptops {
    height: 29vw;
  }
  @include for-small-laptops {
    height: 60vw;
  }
  p {
    margin: 0 auto;
    text-align: center;
    line-height: 1.3;
    width: 80%;
    @include bodyFont(
      $color: $mermaid,
      $spacing: 5px,
      $transform: uppercase,
      $size: 1.2rem
    );
  }
}
