.foreignComponent {
  margin-top: 110px;
}

.foreignTitle {
  margin: 30px;

  h3 {
    margin: 10px 0 30px;
    @include bodyFont(
      $transform: capitalize,
      $size: 6rem,
      $spacing: 0.5px,
      $color: $puke,
      $weight: 900
    );

    @media (max-width: 1200px) {
      font-size: calc(3.2rem + (60 - 32) * (100vw - 320px) / (1280 - 320));
    }
  }
  p {
    color: $mermaid;
    letter-spacing: 5px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
}

.allLanguageLinks {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;

  @include for-small-laptops {
    text-align: center;
    display: block;
  }
}

.languageLinks {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  $color: $mermaid;
  font-size: 1.6rem;
  border: 1px solid $mermaid;
  padding: 0.75rem 1.75rem;
  text-align: center;
  transition: ease 0.3s;

  @include for-small-laptops {
    padding: 10px 15px 12px;
  }
}
.languageLinks:hover {
  background: #235856;
  color: #fff;
}
