body {
  max-width: 1800px;
  margin: 0 auto;
  background: $background;
  @include bodyFont;
  line-height: 1.2;
}
.route-wrapper {
  position: relative;
}
.route-wrapper > * {
  position: absolute;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}
.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  @include for-mobile {
    width: 90%;
  }
}
img {
  display: block;
  width: 100%;
}
a {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  text-decoration: none;
  color: #fff;
}
input {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}
.link {
  @include bodyFont($transform: uppercase, $spacing: 5px, $weight: 900);
  transition: all 0.3s;
  &:hover {
    background: $teal;
    color: #fff;
  }
}
// MODAL AND PUBLIC FEED STYLES
h3 {
  text-align: center;
  @include bodyFont(
    $transform: uppercase,
    $size: 1.4rem,
    $color: $mermaid,
    $spacing: 5px
  );
}
.title {
  text-align: center;
  margin: 0.8rem auto 3rem;
  @include bodyFont($size: 3.2rem);
  @include for-laptops {
    margin: 0.6rem;
  }
}
.releaseDate,
.popularityRating,
.language {
  margin: 1rem 0 1rem;
  @include bodyFont(
    $size: 1.2rem,
    $color: $mermaid,
    $transform: uppercase,
    $spacing: 3px
  );
}
.releaseDate {
  margin-top: 0;
}
.description {
  margin: 1rem 0 0;
  @include bodyFont($size: 1.2rem);
}
