.headerContainer {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

header {
  position: absolute;
  width: 100%;
  margin-top: 71.9px;
  height: calc(100% - 71.9px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .h1Container {
    mix-blend-mode: screen;
    will-change: opacity;
  }

  h1 {
    @include logoFont(12rem, #000);
    line-height: 1;
    background: #fff;
    padding: 3.5vw 4vw 1.5vw;
    opacity: 0.8;
    transition: all 0.3s;

    @media (max-width: 1200px) {
      font-size: calc(4.5rem + (120 - 45) * (100vw - 320px) / (1280 - 320));
    }

    @include for-mobile {
      padding-top: 4.2vw;
    }
  }

  h2 {
    @include bodyFont(
      $transform: uppercase,
      $size: 2.6rem,
      $spacing: 5px,
      $color: #fff,
      $weight: 700
    );
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    margin: 3rem 0 3.3rem;
    text-align: center;
    line-height: 1.4;

    @media (max-width: 480px) {
      font-size: 1.8rem;
    }
  }

  .link {
    display: inline-block;
    background: $puke;
    color: $background;
    font-size: 1.8rem;
    padding: 1.5rem 2rem;
    box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    transform: scale(1);

    &:hover {
      background: $teal;
      color: #fff;
      transform: scale(1.1);
    }
  }

  .credits {
    position: absolute;
    bottom: 2.5rem;
    @include bodyFont(
      $size: 1.6rem,
      $spacing: 0.3px,
      $color: #fff,
      $weight: 700
    );

    a {
      border-bottom: 1px solid transparent;
      transition: all 0.3s;

      &:hover {
        color: $puke;
        border-color: $puke;
      }
    }
  }
}

// BACKGROUND GALLERY STYLES

.backgroundGallery {
  &.container {
    position: relative;
    z-index: -1;
    width: 1800px;
    margin: 0 auto;
  }

  .overlay {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .column {
    float: left;
    position: relative;

    &.desktop {
      width: calc((1800px / 7) - 26.2px);

      &:nth-child(odd) {
        animation: desktopOddColumnMove 40s linear infinite;
      }

      &:nth-child(even) {
        animation: desktopEvenColumnMove 40s linear infinite;
      }

      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    &.tablet {
      width: calc(1024px / 5);

      &:nth-child(odd) {
        animation: tabletOddColumnMove 40s linear infinite;
      }

      &:nth-child(even) {
        animation: tabletEvenColumnMove 40s linear infinite;
      }
    }

    &.mobile {
      width: calc(480px / 3);

      &:nth-child(odd) {
        animation: mobileOddColumnMove 40s linear infinite;
      }

      &:nth-child(even) {
        animation: mobileEvenColumnMove 40s linear infinite;
      }
    }
  }
}

// DESKTOP | 2771.47px is the height of one entire poster column, 346.8px is the height of one poster, 173.4px is half the height

@keyframes desktopOddColumnMove {
  0% {
    top: calc(-173.4px + (-346.8px * 4));
  }
  100% {
    top: -173.4px;
  }
}

@keyframes desktopEvenColumnMove {
  0% {
    top: 0;
  }
  100% {
    top: calc(-346.8px * 4);
  }
}

@keyframes tabletOddColumnMove {
  0% {
    top: calc(-153.6px + (-307.2px * 4));
  }
  100% {
    top: -153.6px;
  }
}

@keyframes tabletEvenColumnMove {
  0% {
    top: 0;
  }
  100% {
    top: calc(-307.2px * 4);
  }
}

@keyframes mobileOddColumnMove {
  0% {
    top: calc(-120px + (-240px * 4));
  }
  100% {
    top: -120px;
  }
}

@keyframes mobileEvenColumnMove {
  0% {
    top: 0;
  }
  100% {
    top: calc(-240px * 4);
  }
}
