.back-drop {
    background-color: rgba(48, 49, 48, 0.42);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    transition: all 1.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top{
    display: flex;
    justify-content: space-between;
}
.modalTopBar{
    background: gray;
    display: flex;
    justify-content: flex-end;

    .btn-cancel {
        background-color: #b71c1c;
    }
}

.modal-wrapper {
    width: 65%;
    border: 1px solid #d0cccc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    margin: 0 auto;
    transition: all 0.8s;
    background: $modalBackground;
}

.modal-header {
    height: 40px;
    line-height: 40px;
    padding: 5px 20px;
}
.modal-header h3 {

    color: $teal;
    margin: 0;
    padding: 0;
}
.modal-body {
    padding: 10px 15px;
    text-align: center;

    .modalPosterImage{
        height: 500px;
        display: flex;
        justify-content: center;

        img{
            display: block;
            height: 100%;
        }
    }
}



.modal-footer {
    /* background: #263238; */
    /* height: 35px; */
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.close-modal-btn {
    color: white;
    cursor: pointer;
    font-size: 30px;
    margin: 0;
}
.close-modal-btn:hover {
    color: black;
}
.btn-cancel,
.btn-continue {
    background: coral;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 10px;
}

.btn-continue {
    background-color: #1b5e20;
    /* float: right; */
}

.open-modal-btn {
    margin: 15px;
    padding: 10px;
    font-weight: bold;
}
