.back-drop {
  background-color: rgba(48, 49, 48, 0.42);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  transition: all 1.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  font-size: 3.2rem;
  font-weight: 800;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;

    .englishMovieTitleModal {
        @include bodyFont(
            $transform: capitalize,
            $size: 3.5rem,
            $weight: 900,
            $color: $puke
        );
        text-align: left;
        margin-right: 20px;

        @include for-tablet{
          font-size: 2.5rem;
        }

        @include for-mobile{
          margin: 0;
          font-size: 2.5rem;
        }
    }

  .englishMovieReleaseModal {
    display: flex;
    align-items: center;
    align-items: center;
    font-size: 5rem;
    color: $mermaid;
    margin-left: 20px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 1;

    @include for-mobile{
      display: none;;
    }
  }

  @include for-mobile{
    justify-content: center;
  }
}

.modal-wrapper {
  max-width: 700px;
  width: 50%;
  border: 1px solid #d0cccc;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  margin: 0 auto;
  transition: all 0.8s;
  background: $modalBackground;

  @include for-laptops{
    width: 60%;
  }

  @include for-small-laptops{
    width: 65%;
  }

  @include for-tablet{
    width: 70%;
  }
  @include for-mobile{
    width: 80%;
  }

}

.fullModal {
  height: 80%;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .modalPosterArea {
    margin: 10px 0;
    display: flex;
    justify-content: center;

    @include for-mobile{
      margin: 15px 0;
    }
  }

  .modalPosterImage {
    width: 50%;
    display: flex;
    justify-content: center;

    @include for-mobile{
      width: 70%;
    }

    img {
      display: block;
      height: 100%;
    }
  }

  .modalMovieDescription .displayed-text {
    width: 80%;
    font-size: 1.6rem;
    line-height: 18px;
    font-weight: 100;

    @include for-mobile{
      font-size: 1.2rem;
    }
  }
}
.display-text-group{
  display: flex;
  justify-content: center;
}
.read-more-button{
  color: $puke;
  cursor: pointer;
  text-transform: uppercase;
  padding-top: 10px;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 14px;
}


.closeModal{
  position: absolute;
  font-size: 50px;
  line-height: 30px;
  right: 0;
  top: -40px;
  cursor: pointer;
}


.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px;
  letter-spacing: 2px;

  @include for-tablet{
    padding: 20px;
  }

  h3 {
    color: $mermaid;
    font-size: 4rem;
    font-weight: 800;
    display: flex;
    align-items: center;

    @include for-tablet{
      font-size: 3rem;
    }
  }
  h4 {
    color: $mermaid;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;

    @include for-tablet{
      letter-spacing: 2px;
      font-size: 1.5rem;
    }
    
  }


}

.btn-continue {

  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  width: 200px;
  text-align: left;
  background-color: $modalBackground;
  color: $puke;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid $puke;
  cursor: pointer;
  padding: 10px;
  position: relative;
  transition: .5s;
    
  .modalArrow{
    padding-left: 3px;
    display: inline-block;
  }

  &:hover{
    background: $background;
    color: white;
    border: 1px solid white;
  }
  &:focus{
    color: $puke;
    border: 1px solid $puke;
  }

  @include for-tablet{
    width: 150px;
  }

  @include for-mobile{
    padding: 5px 2px;
  }


}
.saveForeignButton{
  text-align: center;
}

