nav {
  position: relative;
  z-index: 100;
  border-bottom: 1px solid #fff;
  background: rgba(8, 21, 25, 0.3);
  padding: 2rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.35s;

  &:hover {
    background: rgba(8, 21, 25, 0.8);
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h3 {
    @include logoFont(3.6rem, #fff);
    line-height: 1;
    margin-bottom: -5px;
  }

  .link {
    $color: $mermaid;
    font-size: 1.6rem;
    border: 1px solid $mermaid;
    padding: 0.75rem 1.75rem;
  }
}
