.publicFeed {
  background: $background;
  margin-top: 85px;
  animation-delay: 0.5s;
}
.title {
  @include bodyFont(
    $transform: capitalize,
    $size: 3.5rem,
    $weight: 900,
    $color: $puke
  );
  @include for-small-laptops {
    font-size: 2.6rem;
  }
}

.listItem {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid $mermaid;
  @include for-mobile {
    flex-direction: column;
    align-items: center;
  }

  .savedEnglishMovie,
  .savedForeignMovie {
    width: 46%;
    margin: 2% 0;
    .topPublic {
      margin: 2rem;
      // @include for-mobile {
      //   margin: 4rem;
      // }
    }
    .bottomPublic {
      display: flex;
      margin: 2rem;
      @include for-small-laptops {
        flex-direction: column;
        align-items: center;
      }
    }
    @include for-mobile {
      width: 82%;
    }
  }

  .savedForeignMovie {
    margin-left: auto;
    @include for-mobile {
      margin-left: 0;
    }
  }
}
span {
  display: block;
  font-size: 1.8rem;
  font-weight: 900;
}
.bottomPublic {
  .bottomLeftFeed {
    width: 49%;
    margin-right: 1%;
    @include for-small-laptops {
      width: 82%;
    }
    // @include for-mobile {
  }
  .bottomRightFeed {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 1%;
    @include for-small-laptops {
      width: 82%;
      margin-top: 1rem;
    }
  }
}
