.publicFeed {
  background: $background;

  .title {
    @include bodyFont(
      $transform: capitalize,
      $size: 3.5rem,
      $weight: 900,
      $color: $puke
    );
  }
}

.listItem {
  display: flex;
  flex-wrap: wrap;
  .savedEnglishMovie,
  .savedForeignMovie {
    width: 46%;
    margin: 2%;
  }
}
